<mat-card class="about-card">
  <mat-card-header>
      <mat-card-title> <div class="about-title">About Page</div></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      This project is created by: Ian Chang <br/><br/>
      GitHub Page: <a href="https://github.com/iy2chang/baby-care">https://github.com/iy2chang/baby-care</a> <br/><br/>
      Description: This project is using Angular 6 framework with material design. The backend
                   is provided by google firestore. <br/><br/>
    </p>
  </mat-card-content>
</mat-card>
