.button-row button{
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 12px;
}

.list-card {
    height: 50vh;
}

.nanny-list-header {
    font-size: 1.5em; 
    color: lightcoral;
}

.list-cart {
    font-size: 1.5em; 
    color: lightcoral;
}

p {
    font-size: 1em;
    padding-left: 8px;
}

.addToCartButton button {
    margin-left: 12px;
}

.list-name {
    font-weight: bold;
}