.mat-card-nanny {
    max-width: 250px;
    display: inline-block;
}

.mat-card-history {
    display: inline-block;
}

.card-view {
    height: 50vh;
}

.button-row button{
    margin-top: 14px;
    margin-left: 14px;
    margin-right: 12px;
}

.outer-card {
    width: 100vw;
}

.cart-header {
    font-size: 1.5em; 
    color: lightcoral;
}

.add-button button {
    margin-left: 12px;
}

p {
    font-size: 1em;
    padding-left: 15px;
}


