.home-card {
    height: 100vh;
    width: 100vw;
}

p {
    font-size: 1.2em;
    margin-left: 8px;
    padding-bottom: 12px;
}

.home-title {
    font-size: 1.5em; 
    color: lightcoral;
}

.link {
    margin-left: 8px;
}

agm-map {
    height: 300px;
}