<mat-card>
  <mat-card-header>
    <mat-card-title>
      <p>Reset Password</p>
    </mat-card-title>
  </mat-card-header>
  <form [formGroup]="emailForm" (ngSubmit)="sendResetEmail()">
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="enter your email" formControlName="email" name="email" required>
          <mat-error *ngIf="submitted && ef.email.errors?.required">Email is required</mat-error>
          <mat-error *ngIf="submitted && ef.email.errors?.email">Email is invalid</mat-error>
        </mat-form-field>
      </mat-card-content>
    <mat-card-actions>
      <div class="reset-button">
        <button type="submit" color="primary" mat-raised-button>Reset Password</button>
      </div>
    </mat-card-actions>
    <mat-card-actions>
      <div class="login-link">
        <a routerLink="/login">Go to login page</a>
      </div>
    </mat-card-actions>
  </form>
</mat-card>